{% extends "./layout/layout.html" %}
{% block page_content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">修改密码</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="oldpassword">原密码</label>
                    <input type="password" id="oldpassword" class="form-control" placeholder="原密码"/>
                </div>
                <div class="form-group">
                    <label for="newpassword">新密码</label>
                    <input type="password" id="newpassword" class="form-control" placeholder="新密码"/>
                </div>
                <div class="form-group">
                    <label for="newconfirmpassword">确认密码</label>
                    <input type="password" id="newconfirmpassword" class="form-control" placeholder="确认密码"/>
                </div>
                <div class="form-group">
                    <button id="modify_btn" class="btn btn-sm btn-primary">修改</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
{% block page_js %}
<script>
    $(function () {
        $("#modify_btn").click(function () {
            let oldpassword = $("#oldpassword").val();
            let newpassword = $("#newpassword").val();
            let newconfirmpassword = $("#newconfirmpassword").val();
            //console.log('old:'+oldpassword+";new:"+newpassword);
            if (newconfirmpassword.length === 0) {
                alert('请输入原密码');
                return;
            }
            if (newpassword.length === 0) {
                alert('请输入新密码');
                return;
            }
            if (newconfirmpassword != newpassword) {
                alert('两次输入密码不一致');
                $("#newconfirmpassword").val('');
                return;
            }
            $.post('/modifyPassword', {
                newpassword: newpassword,
                oldpassword: oldpassword
            }, function (data) {
                if (data.code === 200) {
                    alert(data.description);
                    window.location.href = '/';
                } else {
                    alert(data.description);
                }
            })
        })
    })
</script>
{% endblock %}